<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stock</title>
	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
	Stock Home
	<button id="current">최근 동향</button> + Google Chart API
</body>
<script>
	$("#current").click(function() {
		$.ajax({
			url: "./currentBundle",
			data: {},
			type: "POST",
			dataType: "json"
		})
		.done(function(json) {
			alert(json);
			console.log(json);
		})
		.fail(function(xhr, status, errorThrown) {
			alert(errorThrown);
		})
		.always(function() {
			alert("요청을 보냈습니다.");
		}); 
	})
</script>
</html>